body{
    background-image: url('../img/bg1.jpg');
    background-size: cover;
    background-attachment: fixed; 
}

.column {
    width: 50%;
    padding-bottom: 40px;
    padding-left: 50px;
  }
  
.row:after {
    content: "";
    display: table;
  }

@media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }

.border2{
    width: 1300px;
    height: 410px;
    padding: 25px;
    margin: 15px;
}

#gambar{
    border-radius: 40%;
    width: 240px;
    height: 180px;
    margin-left: 70px;
}

#nama{
    margin-left: 300px; 
    font-family: century gothic; 
    font-weight: bold; 
    font-size: 80px;
}

#label{
    text-decoration: underline;
    font-family: Geometr706 BlkCn BT;
}